* {
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0s;
    padding: 0;
    box-sizing: border-box;
    position:relative;
}
a {
    text-decoration: none;
}

body {
    width: 100%;
    background: whitesmoke;
    height : auto ;
    min-height: 1100px;
    
}
.container{
    display: block;
    margin:center;
    flex-direction: column;
}
/* set width and heght all page  */
#menu ,#searchbar,#banner,#info ,#phone,#offer,#sign,#cv
,#fooder,#allcart
 {
    width: 1400px;
    height: 50px;
    margin-left: 60px;
    box-shadow: 0px 0px 1px rgb(212, 212, 212);
}

/* menu.php */

#menu a {
    text-decoration: none;
    
    width: 220px;
    overflow: hidden;
    height: 50px;
    display: block;
    margin: 5px;
    float: left;
   
    
}
#menu a img:hover{
   height:49.5px;
   width: 107%;
}

#menu a:nth-child(0){
    margin-left: 20vh;
    display: flex;
}
/* searchbar.php */
#searchbar {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-direction: row;
    background: rgb(240, 249, 255);
    z-index: 300;
}
#searchbar a {
    text-decoration: none;
}
#logo {
    padding-left: 5px;
    flex:2;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 2px brown;
}
#searchbox {
    flex:4;
    background : none;
    display: flex;
    align-items: center;
}
#frsearch {
    display:flex;
    align-items: center;
}

#searchbox input {
    height: 40px;
    width: 400px;
    position: relative;
    left: 10px;
    font-family: 'Alegreya Sans', sans-serif;

    font-size: 20px;
    border : none;
    border-radius: 10px;
    padding-left: 10px;
}
#searchbox input:focus { 
    outline: none;
}
#searchbox button {
    /* display: inline-block; */
    height: 40px ;
    width: 60px;
    line-height: 40px;
    font-size: 20px;
    left: 20px;
    font-family: 'Alegreya Sans', sans-serif;
    /* text-decoration: none; */
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 1px  rgba(0, 0, 0, 1) ;
    border: none;
    background : rgb(96, 199, 247) ;
    padding-left: 3px;
    

}

#cart  {
    flex: 1;
    padding: 5px;
    font-size: 25px;
    line-height: 40px;
    display: flex;
    flex-direction: row-reverse;
}
#cart a {
    display: inline-block;
    height: 40px ;
    width: 40px ;
   
    box-shadow: 0px 0px 1px black;
    border-radius: 3px;
    text-align: center;
    margin-left: 10px;
}

#cart p {
    position: absolute; 
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: red ;
    color: white;
    line-height: 19px;
    text-align: center  ;
    right: 0;
    top: -30px;
    z-index: 30;
}
/* banner.php*/
#banner {  
    height: 310px;
}
#shows {
    height: 100%;
    width : 60%;
    margin: 0px ;
    display: inline-block;
    left: 0 ;
    overflow: hidden;
}
#imgs {
    display: flex;
    flex-direction: row ;
    transition: 1s;
    width : 3000px;
    flex-wrap: wrap;
    
}
#ads {
    height : 100%;
    width: 39% ;
    display: inline-block ; 
    top : 0 ;
    position: absolute;
    right: 0px;
}
#ads img {
    width: 100%;
    height: 49%;
    
}
#imgs img {
    width : 840px;
    height: 310px;
}
/* info.php */
#info {
    height: auto ;
    background: gray;
    text-align: center;
    padding-bottom: 3px;
}

/* cards.php */
.card {
    display: inline-block;
    height:250px;
    width: 150px;
    margin-bottom: 10px;
    background: rgb(245, 245, 245);
    border-radius: 4px;
    transition: 0.3s;
}
#info p {
    left: -600px;
    padding-top: 15px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    color: #b6c416;
}
.card .imgs img{
    width: 90%;
    height: 70%;

}
.name , .cost {
    height: 20px;
    width: auto;
    left: 10px;
    text-align: left;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    
}
.name {
    font-size: 17px;
}
.cost {
    font-size: 24px;
    color: rgb(202, 12, 12);
}
.card:hover {
    background: rgb(248, 222, 137);

    box-shadow: 0px 0px 7px rgb(199, 26, 26);
}
/* product.php */
#phone {
    height: auto;
    background : gray;
    display: inline-block;
    
}
#phoneimg {
    background-color: whitesmoke;
    border-radius: 7px;
    height: 500px ;
    width: 400px ;
    margin-left: 30px;
    margin-top: 10px;
    display: inline-block;
}
#phoneimg img {
    height: 500px ;
    width: 380px ;
    margin-left: 10px;
}
#information {
    /* position: absolute; */
    display : inline-block;
    width: 900px;
    height: 500px;
    background : whitesmoke;
    margin-left: 30px;
    border-radius: 7px;
    margin-top: 10px;
    
    
}
#information h3 {
    display : inline-block;
    height: 50px ;
    width: 600px;
    margin-left: 20px;
    font-weight: bold;
    
    font-size: 35px;
    margin: 20px 0px 0px 10px;
}
#information h1 {
    display : inline-block;
    height: 50px ;
    width: 600px;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
    margin: 0px 0px 10px 10px;
    color:rgb(201, 5, 5);
}
#buynow  ,#carts{
   width: 400px;
    font-family: 'Alegreya Sans', sans-serif;
    background: orange;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 20px;
}
#buynow a ,#carts a{
    height : 30px ;
    width: 380px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alegreya Sans', sans-serif;
    background: orange;
    text-align: center;
    display: inline-block;
    
}
#buynow:hover,#carts:hover{
    box-shadow: 0px 0px 3px orangered;
}
#baohanh {
    
    display: inline-block;
    position: absolute;
    height: 400px ;
    width : 300px;
    border: 1px solid black;
    font-family: 'Alegreya Sans', sans-serif;
    top: 20px;
    right: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
}
#baohanh h3 {
    margin: 0;
    width : 100%;
    background:orangered;
    
}
#baohanh h4{
   display: block;
   height: 40px;
   width: 200px;
   border: 1px solid black;
   margin-top: 15%;
}
#baohanh h5 {
    margin-top: 20%;
    color: red;
}
#thongtin {
    background-color: whitesmoke;
    border-radius: 7px;
    height: 550px ;
    width: 400px ;
    margin-left: 30px;
    margin-top: 10px;
    display : inline-block;
    
}
#mota {
    color: blue;
    letter-spacing: 0.1em;
    line-height: 25px;
}

#table {
    display : inline-block;
    width: 900px;
    height: 550px;
    background : whitesmoke;
    margin-left: 30px;
    border-radius: 7px;
    margin-top: 10px;
}
.attributes th {
    width: 400px;
    height: 30px;
    display: inline-block;
}
.attributes td {
    height: 30px;
    display : inline-block;
}
.attributes td p {
    margin: 0;
}
.attributes {
    width: 90%;
    margin-left: 5%;
    border: 1px black solid;
}
    
.attributes tr:nth-child(even) {
    background: gray;
}
/* .attributes tr:nth-child(odd) {
    background: rgb(166, 226, 147);
} */
/* sign.php  */
#sign {
    top: 90px;
    height: auto;
    border-radius: 5px;
    background: transparent;
    
}
.sign { 
    display : inline-block;
    width: 90%;
    height:500px;
    border: 1px solid black;
    border-radius: 10px;
    border:  none; 
    background: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat ;
    background-size: cover;
    margin-left: 35px;
    box-shadow: 0px 2px 2px black;
}

.sign h1 { 
    display : block;
    margin-top: 20px;
    font-size: 50px;
}
.sign p {
    display: inline-block;
    width: 100px;
    height: 30px;
    color: black;
    line-height: 30px;
    font-weight: bold;
    
}
.sign input {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    background:white;
    border: none;
    font-size: 20px;
    color: black; 
    padding-left: 10px;
    display: inline-block;
}
.sign #phone {
    border-radius: 5px;
    width: 300px;
    height: 30px;
    background:white;
    border: none;
    font-size: 20px;
    color: red; 
    padding-left: 10px;
    display: inline-block;
    margin-left: 0px    ;
}
.sign input::placeholder {
    color: gray ;
}
.sign input:focus {
    outline: none;
}
.sign button {
    border: 1px solid red;
    display : block;
    font-weight: bold;
    width: 50px;
    height: 20px;
    border-radius: 5px;
    background :  #6dce6d;

}
/* fooder.php */
#fooder {
    height: auto;
    color: gray;
    top: 50px;
}   

/* cvkh.php */
#cv {
    height: 600px;
}
#cv .sign{
    height: 600px;
}

/* cart.php  */

#allcart {
    height: auto ;
    display: block;
    min-height: 400px;
    max-height: 900px;
}
.header {
    width: 100%;
    height: 50px;
    background : rgb(201, 247, 174);
    margin-top: 30px ;
    border-radius: 10px;

}
.header table {
    width : 100%;
}

.header td {
    width: 278px;
    height: 100%;
    text-align: center;
    line-height: 50px;
}
#tsp {
    width: 800px;
}

.displaysp {
    margin-top: 20px;
}
.displaysp table {
    padding: 0px;
    height: 350px;
    width : 100%;
    background: rgb(201, 247, 174);
    border-radius: 10px;
}
.displaysp tr {
    height: 300px;
}
.displaysp td:not(.imgcart){
    width: 100px;
    height: 100%;
    text-align: center;
    line-height: 50px;
    padding: 0px;
}
.tsp {
    width: 800px;
}
.tsp img {
    width : 200px;
    height: 300px;
}
.imgcart {
    width: 600px;
}
.imgcart h3 {
    display : inline-block;
    width: 200px;
    top: -100px;
    padding-left: 0px;
}

.sl {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color : red ;   
}
#buy {
    width : 100px ;
    height: 40px;
    border-radius: 10px;
    text-align: center ;
    background: #49eea1 ; 
    margin-top: 30px;
    transform: translateX(700px);
    transition : 0.5s ;
    line-height: 40px;
    color :whitesmoke;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
}
#buy:hover { 
    background : #044929;
    transition: 0.1s ;
}
#delete {
    font-size: 20px;
    font-weight: bold;
    color : orange;
}
#delete:hover {
    color : red ; 

}
